html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: #fff;
  color: #757575;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  text-decoration: none;
}

ul,
ol {
  padding-left: 0;
  margin: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
  margin: 0;
}

.conteiner {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.section__team {
  background-color: #f5f4fa;
}
.section__footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.button {
  display: block;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  cursor: pointer;
  color: #fff;
  background-color: #2196f3;
  width: 200px;
  height: 50px;
  letter-spacing: 0.06em;
  margin: 0;
  border: 0;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover, .button:focus {
  background-color: #188ce8;
}
.button--form-button {
  margin-top: 30px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.button--footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 12px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.button__svg {
  width: 24px;
  height: 24px;
  margin-left: 10px;
}

.list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.list--header {
  margin-left: auto;
  align-items: center;
}
.list--portfolio-grid {
  flex-wrap: wrap;
}

.h2-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 50px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  background: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  min-width: 528px;
  min-height: 581px;
  top: 50%;
  left: 50%;
  padding: 40px;
  transform: translate(-50%, -50%) scale(1);
  background: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
}
.modal__close {
  position: absolute;
  display: flex;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: #fff;
  align-items: center;
  justify-content: center;
  top: 8px;
  right: 8px;
  fill: #000;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__close:hover, .modal__close:focus {
  fill: #2196f3;
}
.modal__close-svg {
  width: 18px;
  height: 18px;
}

.form {
  display: block;
  width: 448px;
}
.form__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  margin-bottom: 12px;
  letter-spacing: 0.03em;
  color: #212121;
}
.form__label {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.form__label-text {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  margin-bottom: 4px;
}
.form__svg-icon {
  position: absolute;
  width: 18px;
  height: 18px;
  left: 12px;
  bottom: 11px;
  fill: #000;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__input:focus ~ .form__svg-icon {
  fill: #2196f3;
}
.form__comment {
  resize: none;
  height: 120px;
  margin-bottom: 20px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 12px 16px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1, 14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form__comment:focus {
  border: 1px solid #2196f3;
}
.form__input {
  padding: 11px 12px 11px 42px;
  border: 1px solid;
  border-color: rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__input:focus {
  border-color: #2196f3;
}
.form__checkbox-label {
  display: flex;
  justify-content: center;
  align-items: center;
}
.form__checkbox-input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
  margin: 0;
}
.form__icon-check {
  display: inline-block;
  margin-right: 8px;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-image 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__checkbox-input:checked + .form__icon-check {
  border-color: #2196f3;
  background-color: #2196f3;
  background-image: url(../img/check.svg.svg);
  background-repeat: no-repeat;
}
.form__policy-link {
  position: relative;
  display: inline-block;
  margin-left: 4px;
  color: #2196f3;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.form__policy-link::after {
  content: "";
  position: absolute;
  display: block;
  left: 0;
  bottom: 1px;
  width: 100%;
  height: 1px;
  background-color: #2196f3;
}

.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}
.logo--footer {
  display: block;
  margin-bottom: 20px;
}
.logo__firs {
  color: #2196f3;
}
.logo__end {
  color: #000;
}
.logo__end--white {
  color: #fff;
}

.social-icon-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.social-icon-list__icon {
  width: 20px;
  height: 20px;
}
.social-icon-list__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #757575;
  background-color: #fff;
  fill: #afb1b8;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-icon-list__link:focus, .social-icon-list__link:hover {
  background-color: #2196f3;
  fill: #fff;
}
.social-icon-list__link--footer {
  color: #757575;
  background-color: rgba(255, 255, 255, 0.1);
  fill: #fff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header {
  border-bottom: 1px solid #ececec;
  background-color: #fff;
}

.header-nav {
  display: flex;
  align-items: center;
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: 0.02em;
}
.header-nav__menu {
  display: flex;
  margin-left: 93px;
  gap: 50px;
}
.header-nav__link {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: #212121;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-nav__link:hover, .header-nav__link:focus {
  color: #2196f3;
}
.header-nav__link--act {
  position: relative;
  color: #2196f3;
}
.header-nav__link--act::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  display: block;
  background: #2196f3;
  border-radius: 2px;
  height: 4px;
  width: 100%;
}
.header-nav__link--cont {
  color: #757575;
  display: flex;
  align-items: center;
}
.header-nav__icon {
  display: inline-block;
  content: "";
  width: 16px;
  height: 12px;
  fill: currentColor;
  margin-right: 10px;
}
.header-nav__icon--phone {
  width: 10px;
  height: 16px;
}

.hero {
  max-width: 1600px;
  height: 600px;
  margin: 0 auto;
  background: #2f303a;
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/compania.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.hero__title {
  display: block;
  font-weight: 900;
  text-align: center;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 30px;
}

.skils-box {
  width: 450px;
}
.skils-box__icon-box {
  display: flex;
  width: 450px;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
  align-items: center;
  justify-content: center;
}
.skils-box__icon {
  width: 70px;
  height: 70px;
}
.skils-box__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
  margin: 0;
  margin-bottom: 10px;
}
.skils-box__text {
  line-height: 1.7;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 480px) {
  .skils-box {
    max-width: 450px;
    width: 450px;
  }
}
@media screen and (min-width: 780px) {
  .skils-box {
    max-width: 750px;
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .skils-box {
    max-width: 1200px;
    width: 270px;
  }
}

.box-work {
  padding-top: 0;
}
.box-work__img-box {
  position: relative;
}
.box-work__text {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70px;
  bottom: 0;
  background-color: rgba(47, 48, 58, 0.8);
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #fff;
}

.box-person {
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  height: 428px;
}
@media screen and (min-width: 480px) {
  .box-person {
    max-width: 480px;
  }
}
@media screen and (min-width: 780px) {
  .box-person {
    max-width: 750px;
    margin-right: 0px;
  }
}
@media screen and (min-width: 1200px) {
  .box-person {
    max-width: 1200px;
  }
}
.box-person__img {
  margin-bottom: 30px;
  max-width: 100%;
  height: auto;
}
.box-person__title {
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 10px;
}
.box-person__text {
  text-align: center;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
  color: #757575;
}

.client-logo {
  display: flex;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  fill: #afb1b8;
  justify-content: center;
  align-items: center;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.client-logo:hover, .client-logo:focus {
  border-color: #2196f3;
  fill: #2196f3;
}
.client-logo__svg {
  width: 106px;
  height: 60px;
}

.filtre-list {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
  gap: 8px;
}
.filtre-list__button {
  background-color: #f5f4fa;
  padding: 6px 22px;
  border-radius: 4px;
  border: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color cubic-bezier(0.4, 0, 0.2, 1), box-shadow cubic-bezier(0.4, 0, 0.2, 1);
}
.filtre-list__button:hover, .filtre-list__button:focus {
  background-color: #2196f3;
  color: #fff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-block {
  background: #fff;
}
.portfolio-block__description {
  border: 1px solid #eeeeee;
  border-top: none;
  padding: 20px 24px;
}
.portfolio-block__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
  margin-bottom: 4px;
}
.portfolio-block__text {
  color: #757575;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
}
.portfolio-block__link {
  position: relative;
  display: block;
  text-decoration: none;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-block__link:hover, .portfolio-block__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio-block__owerlay-block {
  position: relative;
  overflow: hidden;
}
.portfolio-block__owerlay-text {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #fff;
  background-color: rgba(33, 150, 243, 0.9);
}
.portfolio-block__link:hover .portfolio-block__owerlay-text, .portfolio-block__link:focus .portfolio-block__owerlay-text {
  transform: translateY(0);
}

.footer-box {
  display: flex;
  align-items: baseline;
}
.footer-box__list {
  display: block;
  font-style: normal;
  list-style: none;
}
.footer-box__list .footer-box__item + .footer-box__item {
  margin-top: 9px;
}
.footer-box__address {
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #fff;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-box__address:hover, .footer-box__address:focus {
  color: #2196f3;
}
.footer-box__cont {
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-box__cont:hover, .footer-box__cont:focus {
  color: #2196f3;
}

.social-icon-box {
  margin-left: 70px;
}
.social-icon-box__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 20px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #fff;
}

.footter-form {
  display: flex;
  align-items: flex-end;
  margin-left: auto;
}
.footter-form__label input {
  width: 358px;
  height: 50px;
  left: 815px;
  top: 2787px;
  padding: 15px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  outline: transparent;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.6);
}/*# sourceMappingURL=main.css.map */