.compania-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    padding-bottom: 50px;
    color: #212121;
}

.compania {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.compania-item {
    display: flex;
    box-sizing: border-box;
    justify-content: center;

    width: 170px;
    height: 92px;


    background: rgba(255, 255, 255, 0.1);
    border-radius: 4px;
    gap: 30px;
}

.compania-soc-icon {
    width: 106px;
    height: 60px;
}


.studia-soc-item {
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.compania-soc-link {
    display: flex;
    width: 170px;
    height: 92px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    fill: #AFB1B8;
    justify-content: center;
    align-items: center;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.compania-soc-link:hover {
    border-color: #188CE8;
    fill: #188CE8;

}

.compania-soc-link:focus {
    border-color: #188CE8;
    fill: #188CE8;
}

.compania-soc-icon {}



.menu-btn-list {
    list-style: none;
    display: flex;
    margin-bottom: 50px;
    justify-content: center;
}

.menu-btn-list .item+.item {
    margin-left: 8px;
}

.filtre {
    font-family: 'Roboto';
    font-style: normal;
    background: var(--team-back-color);
    padding: 6px 22px;
    border-radius: 4px;
    border: 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filtre:hover,
.filtre:focus {
    background: var(--accent-color);
    color: var(--white-color);
    box-shadow: var(--box-shadow-color);
}