.team {
    background-color: var(--team-back-color);
    /*цвет фона*/

}

.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--h-text-color);
    margin-bottom: 50px;
}

.team-list {
    list-style: none;
    display: flex;
}

.team-list .cart-team+.cart-team {
    margin-left: 30px;
}


.container-obmotka {
    padding-top: 30px;
    padding-bottom: 30px;
}


.cart-team {
    background-color: var(--white-color);
    /*цвет фона*/
    border: 1px solid;
    border-color: #eeeeee;
    border-radius: 2%;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

}

.team-img {}

.cart-title {
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: var(--h-text-color);

    margin-bottom: 8px;
}

.cart-text {
    text-align: center;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    margin-bottom: 16px;

}

.studia-soc {
    display: flex;
    justify-content: center;
    gap: 10px;
    list-style: none;
}

.studia-soc-link {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: var(--white-color);
    /*цвет фона*/
    display: flex;
    align-items: center;
    justify-content: center;
    fill: #AFB1B8;
    background: rgba(255, 255, 255, 0.1);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.studia-soc-icon {
    width: 20px;
    height: 20px;
}

.studia-soc-link:hover {

    background-color: #2196F3;
    fill: #FFFFFF;
}

.studia-soc-link:focus {
    background-color: #2196F3;
    fill: #FFFFFF;
}