.header {
    border-bottom: 1px solid #ececec;
    background-color: $white-color;
}

.header-nav {
    display: flex;
    align-items: center;
    font-weight: 500;
    line-height: 1.1;
    letter-spacing: 0.02em;

    &__menu {
        display: flex;
        margin-left: 93px;
        gap: 50px;
    }

    &__link {
        position: relative;
        display: block;
        padding-top: 32px;
        padding-bottom: 32px;
        color: $titile-color;
        transition: color 250ms $cubic-bezier;

        &:hover,
        &:focus {
            color: $accent-color;
        }

        &--act {
            position: relative;
            color: $accent-color;

            &::after {
                content: "";
                position: absolute;
                left: 0;
                bottom: -1px;
                display: block;
                background: $accent-color;
                border-radius: 2px;
                height: 4px;
                width: 100%;
            }
        }

        &--cont {
            color: $text-color;
            display: flex;
            align-items: center;
        }
    }

    &__icon {
        display: inline-block;
        content: "";
        width: 16px;
        height: 12px;
        fill: currentColor;
        margin-right: 10px;

        &--phone {
            width: 10px;
            height: 16px;
        }
    }
}