.header-nav {
    display: flex;
    align-items: center;
}
.header-nav {
    font-weight: 500;
    line-height: 1.1;
    letter-spacing: 0.02em;

}

.menu-nav {
    display: flex;
    list-style: none;
    margin-left: 93px;
}

.menu-nav .item+.item {
    margin-left: 50px;

}
.menu-nav .nav-link {
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    color: var(--h-text-color);
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover {
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: #2196F3;
}

.menu-nav .nav-link.act::after {
    content: "";
    display: block;
    width: 48px;
    height: 4px;
    background: #2196F3;
    border-radius: 2px;
    position: absolute;
    bottom: -1px;
    width: 100%;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:focus {
    color: #2196F3;
}

.nav-menu .nav-link {
    color: var(--h-text-color);
    list-style: none;
    font-weight: 500;
    line-height: 1.1;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-nav .nav-link.act {
    color: #2196F3;
}

.menu-nav-cont {
    display: flex;
    align-items: center;
}


.header {
    border-bottom: 1px solid #ececec;
    background-color: var(--white-color);
    align-items: center;
}