.menu-btn-list {
    list-style: none;
    display: flex;
    margin-bottom: 50px;
    justify-content: center;
}

.menu-btn-list .item+.item {
    margin-left: 8px;
}

.filtre {
    font-family: 'Roboto';
    font-style: normal;
    background: var(--team-back-color);
    padding: 6px 22px;
    border-radius: 4px;
    border: 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filtre:hover,
.filtre:focus {
    background: var(--accent-color);
    color: var(--white-color);
    box-shadow: var(--box-shadow-color);
}