.spisok {
    margin-left: 70px;
}

.golova {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: #FFFFFF;
    padding-bottom: 20px;
}

.copy-soc {

    display: flex;
    list-style: none;
    gap: 10px;
}

.compania-item {
    background: rgba(255, 255, 255, 0.1);
}

.stud-soc-icon {
    width: 20px;
    height: 20px;
}

.stud-soc-link:hover {

    background-color: #2196F3;
    fill: #FFFFFF;
}

.stud-soc-link:focus {
    background-color: #2196F3;
    fill: #FFFFFF;
}

.stud-soc-link {
    width: 44px;
    height: 44px;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
    fill: #FFFFFF;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.studia-soc-item {
    background: rgba(255, 255, 255, 0.1);
}

.stud-soc-link {
    background: rgba(255, 255, 255, 0.1);
}

.blog-soc-item {
    margin-right: 10px;
}