:root {
    --h-text-color: #212121;
    --text-color: #757575;
    --white-color: #FFFFFF;
    --hero-back-color: #2F303A;
    --accent-color: #2196F3;
    --button-accent-color: #188CE8;
    --fot-con-text-color: rgba(255, 255, 255, 0.6);
    --team-back-color: #F5F4FA;
    --black-color: #000000;
    --box-shadow-color:
        0px 3px 1px rgba(0, 0, 0, 0.1),
        0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
}



html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}
.conteiner {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}